*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 20px 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
  background-color: #10254b;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 10px 30px;
}

button:hover {
  background-color: #355289;
}

/* main */
.main-wrapper{
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #10254b;
  /* background-color: rgb(1, 90, 255); */
}

.square{
  aspect-ratio: 1 / 1; /* casella quadrata */
  /* 100 caselle */
  width: calc(100% / 10);
  height: calc(100% / 10);
  /* 81 caselle */
  /* width: calc(100% / 9);
  height: calc(100% / 9); */
  /* 49 caselle */
  /* width: calc(100% / 7);
  height: calc(100% / 7); */
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}






































